/PulsOxiBLEHost/.vs/PulsOxyBLEHost/v16/.suo
/PulsOxiBLEHost/BLEHost/obj/
/PulsOxiEmulator/.vs/PulsOxiEmulator/v16/.suo
/PulsOxiBLEHost/packages/
/PulsOxiEmulator/obj/
**/.suo
/PulsOxiExampleApp.cs/obj/
